<div id="artwork_canvas"
     data-script-id="artwork-canvas-script" data-script="<%= asset_path('artwork_canvas.js') %>">
    <%= video_tag '', class: "artwork-video", type: "video/mp4", autoplay: true, loop: true, muted: true, playsinline: true %>
</div>
