<div id="artwork_canvas">
<% if artwork_data[:artwork_image_url].present? %>
  <%= image_tag artwork_data[:artwork_image_url] %>
<% elsif artwork_data[:artwork_video_url].present? %>
  <%= video_tag artwork_data[:artwork_video_url], class: "fullscreen-video", type: "video/mp4", autoplay: true, loop: true, muted: true, playsinline: true %>
<% end %>
</div>
<%= javascript_include_tag 'artwork_canvas' %>