<!DOCTYPE html>
<html>
<head>
  <title>Canvas</title>
<style>
  #content-wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }

  .content {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease; /* Only animate opacity */
  }

  .content.visible {
    opacity: 1;
  }
</style>
</head>
<body>
<div id="content-wrapper">
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).ready(function() {
  let lastContent = '';
  let isWaiting = false;

  updateContent();

  setInterval(() => {
    if (!isWaiting) {
      updateContent();
    }
  }, 2000); // Reduced interval to 5 seconds for more frequent checks

  function updateContent() {
    if (isWaiting) return;
    isWaiting = true;

    $.ajax({
      url: '/content',
      success: function(htmlContent) {
        if (htmlContent !== lastContent) {
            let $newContent = $(`<div class='content'>${htmlContent}</div>`).appendTo('#content-wrapper');

            requestAnimationFrame(() => {
            $newContent.addClass('visible');
          });

          setTimeout(() => {
            $('.content').not($newContent).remove();
          }, 1000);

          lastContent = htmlContent;
        }
      },
      error: function() {
        console.log('Error fetching new content');
      },
      complete: function() {
        setTimeout(() => {
          isWaiting = false;
        }, 5000); // Consider dynamically adjusting this based on various factors
      }
    });
  }
});
</script>

</body>
</html>
