// Sass variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
$primary-color: #000000;
@import "active_admin/mixins";
@import "arctic_admin/base";

* {
  font-family: 'Arial', sans-serif !important; // Ensures Arial is used everywhere
}

#title_bar {
  display: none; // This will hide the title bar
}

#main_content {
  margin-top: -5px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
}